@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
  background: rgb(19, 19, 20);
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --bg-main: #265a84;
  --light-main: #eeecec;
}

p, h1, h2, h3 {
  margin: 0;
}

button, input {
  font-family: inherit;
}

#background {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 350px) {
  .generator-container {
    width: 100vw !important;
  }
}
.generator-container {
  width: 50vmin;
  min-width: 200px;
  position: relative;
  background-color: var(--bg-main);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0em 2.3em;
  border-radius: 10px;
}
.generator-container h2 {
  text-align: center;
  margin: 0.7em 0;
  color: white;
  font-weight: 800;
}

.password-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-main);
  padding: 0.6em 1em;
  border-radius: 10px;
}
.password-container #password {
  font-size: 1.13em;
  width: 88%;
  min-height: 20px;
  word-wrap: break-word;
}
.password-container .copy-icon {
  padding: 0.3em;
  width: 12%;
  min-width: 27px;
  max-width: 30px;
  transition: 0.2s;
  display: flex;
}
@media (min-width: 530px) {
  .password-container .copy-icon {
    transform: translateX(7px);
  }
}
.password-container .copy-icon:hover {
  background-color: rgba(0, 0, 0, 0.088);
  border-radius: 10px;
}
.password-container .copy-icon:active {
  background-color: rgba(0, 0, 0, 0.237);
}

.password-settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
  border-radius: 10px;
  background-color: var(--light-main);
  padding: 1em;
}

.password-strength {
  width: 100%;
  padding: 0.7em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-main);
  border-radius: 10px;
}

.strength-value {
  display: flex;
  align-items: center;
}

.strength-value-bar {
  width: 10px;
  height: 30px;
  border: 1px solid black;
  margin-left: 0.2em;
}

.generate-btn {
  width: 12em;
  height: 3em;
  margin: 1.2em 0;
  outline: none;
  border-radius: 0;
  border: none;
  font-size: 1em;
  border-radius: 10px;
  transition: 0.1s;
}

.generate-btn:hover {
  background-color: #d4dde2;
}

.generate-btn:active {
  background-color: #7ea8ca;
}

@media (max-width: 670px) {
  .generate-btn {
    width: 90%;
  }
}
.popup-message {
  position: absolute;
  width: 12em;
  height: 2.4em;
  background-color: var(--light-main);
  border-radius: 20px;
  left: 0;
  right: 0;
  bottom: 0em;
  margin: 0 auto;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(40px);
}

.popup-animation {
  -webkit-animation: popupBottom 1.4s forwards;
          animation: popupBottom 1.4s forwards;
}

@-webkit-keyframes popupBottom {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
    transform: translateY(-40px);
  }
  60% {
    opacity: 1;
    transform: translateY(-40px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes popupBottom {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
    transform: translateY(-40px);
  }
  60% {
    opacity: 1;
    transform: translateY(-40px);
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */